<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chubbymobile.wwh.chubbymobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="SubScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatabaseActivity"
            android:label="@string/title_activity_database"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentPage"
            android:label="@string/title_activity_fragment_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MVPActivity"
            android:label="@string/title_activity_mvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotifyActivity"
            android:label="@string/title_activity_notify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GridViewMenuActivity"
            android:label="@string/title_activity_grid_view_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToothActivity"
            android:label="@string/title_activity_tooth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssetActivity"
            android:label="@string/title_activity_asset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FriendList"
            android:label="@string/title_activity_friend_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PullActivity"
            android:label="@string/title_activity_pull"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendSMSActivity"
            android:label="@string/title_activity_send_sms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".URLActivity"
            android:label="@string/title_activity_url"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
